<md-toolbar>
  <button color="accent" md-raised-button (click)="toggleNewGameMenu()">New Game</button>

  <span>
      <img (click)="newGame()" id="bomb" src="assets/019-bomb-2.svg">
MineSweeper
    </span>

  <button color="accent" [ngClass]="{'supermanOn': supermanActive }" md-raised-button (click)="toggleSuperMan()">Superman Mode</button>

</md-toolbar>

<div *ngIf="showMenu">

  <md-input-container hintLabel="Between 1-300">
    <input id="width" [(ngModel)]="width" name="width" mdInput placeholder="Columns" type="number" required>
    <md-error>This field is required</md-error>

  </md-input-container>

  <md-input-container hintLabel="Between 1-300">
    <input id="height" [(ngModel)]="height" name="height" mdInput placeholder="Rows" type="number" required>
    <md-error>This field is required</md-error>

  </md-input-container>

  <md-input-container hintLabel="Max:{{getMaxMines()}}">
    <input id="mines" [(ngModel)]="mines" name="mines" mdInput placeholder="Mines" type="number">
  </md-input-container>

  <button color="primary" type="submit" (click)="newGame()" md-raised-button>Start new Game!</button>
  <div id="difficulties">
    <h4>Difficulty (Flags to Mines Ratio)</h4>


    <figure class="item">
      <img class="difficulty" [ngClass]="{'active': getDifficulty()=='unicorn'}" (click)="setDifficulty('unicorn')" id="unicorn"
        src="assets/016-unicorn-1.svg">
      <figcaption class="caption">Easy <small>(+10%)</small></figcaption>
    </figure>

    <figure class="item">
      <img class="difficulty" [ngClass]="{'active': getDifficulty()=='robot'}" (click)="setDifficulty('robot')" id="robot" 
      src="assets/009-robot-arm.svg">
      <figcaption class="caption">Normal <small>(+5%)</small></figcaption>
    </figure>

    <figure class="item">
      <img class="difficulty" [ngClass]="{'active': getDifficulty()=='cowboy'}" (click)="setDifficulty('cowboy')" id="cowboy" 
      src="assets/014-cowboy-1.svg">
      <figcaption class="caption">Hard <small>(+1%)</small></figcaption>
    </figure>
  </div>
</div>