
span{
    margin:auto;
    /*
  background: -webkit-linear-gradient(#FFD150, #fff);
  background: linear-gradient(#FFD150, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
*/
color:#3e6e82;
   -webkit-text-stroke: 1px white;
font-size:2em;    
}
#bomb {
    width: 36px;
    display:block;
    margin:auto;
    padding:2px;
}

@keyframes demo {
  from {
    animation-timing-function: ease;
    transform: rotate(0deg);
  }
  33% {
    animation-timing-function: ease;
    transform: rotate(-25deg);
  }
  66.5% {
    animation-timing-function: ease;
    transform: rotate(25deg);
  }
  to {
    animation-timing-function: step-start;
    transform: rotate(0deg);
  }
}

img:hover{
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: demo; 
        cursor:pointer;
  
}

.supermanOn{
    background-color: #145eff;
    color: white;
}
md-toolbar{
    margin-bottom: 2em;
   /* -webkit-box-shadow: 0px 8px 5px -2px rgba(61,51,49,1);
    -moz-box-shadow: 0px 8px 5px -2px rgba(61,51,49,1);
    box-shadow: 0px 8px 5px -2px rgba(61,51,49,1);*/
background-color: #5ca9ff;
background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23faffe7' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");}


md-input-container{
    margin-left: 5%;
    margin-bottom:50px;
}


#difficulties{
    text-align:center;

}
.difficulty{
    width:50px;
    border-radius: 40%;
    

}

#robot.active{
    background:#FFD150;
}

#unicorn.active{
    background: #C9FDD7;
}

#cowboy.active{
    background: #FF4545;
}
