<md-chip-list class="chips" selectable="false">

  <md-chip color="accent" selected="true">Steps: 10 TEMP</md-chip>
  <md-chip color="primary" selected="true"> Flags: 5/6 TEMP</md-chip>

</md-chip-list>



<div *ngIf="boardReady" id="BoardContainer">
  <div [ngStyle]="currentBoardDimensions" class="wrapper">

    <div *ngFor="let cell of cells" [ngStyle]="currentCellDimensions" (click)="cellClicked(cell,$event)" class="cell" class="c{{cell.proximity}}"
      [ngClass]="{'flag':cell.flag}" [ngClass]="{'show':cell.show}">

      <div *ngIf="!cell.mine && !cell.flag &&  supermanMode || cell.show" class="cellContent">{{cell.proximity}}</div>

      <i *ngIf="cell.flag" aria-hidden="true"></i>
      <i *ngIf="cell.mine && supermanMode ||  gameOver()" class="fa fa-bomb" aria-hidden="true"></i>

    </div>

  </div>
</div>