<div id="chipsContainer">
  <div>
    <md-chip-list class="mat-chip-list-stacked" selectable="false">

      <md-chip id="steps{{cellTheme}}" color="accent" selected="true">Steps: {{getSteps()}}</md-chip>
      <md-chip id="flags{{cellTheme}}" color="accent" selected="true"> Flags: {{getUsedFlags()}}/{{getMaxFlags()}}</md-chip>

    </md-chip-list>
  </div>

  <span></span>

  <div>
    <h3>Proximity Colors </h3>
    <md-chip-list class="chips" selectable="false">
      <md-chip id="chip0{{cellTheme}}" color="accent" selected="true">0</md-chip>
      <md-chip id="chip1{{cellTheme}}" color="accent" selected="true">1</md-chip>
      <md-chip id="chip2{{cellTheme}}" color="accent" selected="true">2</md-chip>
      <md-chip id="chip3{{cellTheme}}" color="accent" selected="true">3</md-chip>
      <md-chip id="chip4{{cellTheme}}" color="accent" selected="true">4</md-chip>
      <md-chip id="chip5{{cellTheme}}" color="accent" selected="true">5</md-chip>
      <md-chip id="chip6{{cellTheme}}" color="accent" selected="true">6</md-chip>
      <md-chip id="chip7{{cellTheme}}" color="accent" selected="true">7</md-chip>
      <md-chip id="chip8{{cellTheme}}" color="accent" selected="true">8</md-chip>
    </md-chip-list>
  </div>
</div>


<div *ngIf="boardReady" id="BoardContainer">
  <div [ngStyle]="currentBoardDimensions" class="wrapper">
    <div *ngFor="let cell of cells" [ngStyle]="currentCellDimensions" (click)="cellClicked(cell,$event)" class="cell" class="c{{cell.proximity}}{{cellTheme}}"
      [ngClass]="{'flag':cell.flag}" [ngClass]="{'mine':cell.mine}">

      <div *ngIf="!cell.mine && !cell.flag &&  supermanMode || cell.show" [ngClass]="{'show':cell.show||supermanMode}" class="cellContent">{{cell.proximity || ""}}</div>

      <img src="assets/007-maps-and-flags.svg" *ngIf="cell.flag" aria-hidden="true">
      <img src="assets/018-bomb-3.svg" *ngIf="!cell.flag && cell.mine && (supermanMode  || gameOver())" aria-hidden="true">

    </div>

  </div>
</div>