.cell{
    background-color: gainsboro;
        color: #fff;
    border: 1px solid white;
    display:flex;
    align-items: center;
    text-align:center;
    
}

.cell:hover {
    cursor:pointer;
    background-color: #FFD000;
}

.cell .show{
        width:100%;
    height:100%;
}
.c0 .show, #chip0{
    background-color: #EBE9F6;
    color:black;

}

.c1 .show , #chip1{
    background-color: #6A5C55;

}

.c2 .show , #chip2{
    background-color: #4B4A5A;


}

.c3 .show , #chip3{
    background-color: #393E46;

}

.c4 .show , #chip4{
    background-color: #222831;

}

.c5 .show , #chip5{
    background-color:#F66E00;

}

.c6 .show , #chip6{
    background-color:#BC4F4F;

}

.c7 .show , #chip7{
    background-color: #FF4545;

}

.c8 .show , #chip8{
    background-color:#B32E37;

}

.fa-bomb {
    color:black;
    background-color:#FFEDB2;
    width:100%;
    height:100%;
}

.flag{
        color: #F66E00;

     width:100%;
    height:100%;
}

#flags, .flag{
        background-color:#F66E00;

}

#steps{
    background-color: #4B4A5A;
}

